@import url(IMG/bolsonabo.jpg);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.entrada{
    padding: 5px;
    border-radius: 4px;
    border: none;
    outline: none;
     background-image: url(IMG/bolsonabo.jpg);
    background-size: cover;
}